<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ticket.name %>
</p>

<p>
  <strong>Passenger:</strong>
  <%= @ticket.passenger_id %>
</p>

<p>
<%= image_tag @ticket.avatar.url(:medium) %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', :back %>
