<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @airport.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @airport.city_id %>
</p>
<p>
<%= image_tag @airport.avatar.url(:medium) %>
</p>

<% @airport.planes.each do |plane| %>
  <p><%= plane.name %></p>
  <p><%= image_tag plane.avatar.url(:medium) %></p>
<% end %>

<%= link_to 'Edit', edit_airport_path(@airport) %> |
<%= link_to 'Back', :back %>


